.card-animation .card-actions > button {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 1s linear 1s;
}

.card-animation:hover .card-actions > button {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;
}

/* btn Animation */
.card-animation:hover .card-actions > button {
  animation: btn-reveal 1s ease-in-out;
}

@keyframes btn-reveal {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
