@import "tailwindcss";
@plugin "daisyui";

/*Slide Up Text Animation  */
.text-animation {
  animation: slide-up 2s ease-in-out infinite;
}
/* Animation */

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
